@import '../color/color'

// prefix
$aok-prefix = aok

// color
$primary-color = $purple
$info-color = $blue
$success-color = $green
$processing-color = $blue
$error-color = $red
$highlight-color = $red
$warning-color = $yellow

// padding
$padding-lg = 24px
$padding-md = 16px
$padding-sm = 12px
$padding-xs = 8px

// background
$background-color-default = #fff

// border
$border-width-default = 1px
$border-style-default = solid 
$border-color-default = $black-4

// font
$text-color = $black

// font-size
$font-size-default = 14px
$font-size-sm = $font-size-default - 2px
$font-size-lg = $font-size-default + 2px

// Button
$btn-padding-default = $padding-md
$btn-padding-lg = $padding-lg
$btn-padding-sm = $padding-sm

$btn-height-default = 36px
$btn-height-lg = 40px
$btn-height-sm = 24px

$btn-primary-color = #fff
$btn-primary-bg = $primary-color

$btn-default-color = $black
$btn-default-bg = #fff
$btn-default-border = $border-color-default

$btn-danger-color= $error-color
$btn-danger-bg = $background-color-default
$btn-danger-border = $error-color

$btn-font-weight = 400
$btn-text-shadow = 0 -1px 0 rgba(0, 0, 0, 0.12)

$btn-border-radius-default = 4px
$btn-shadow = 0 2px 0 rgba(0, 0, 0, .015)

