.menu-item
  menuItem()
  transition all .3s ease

.active-menu-item
  background-color badge-25

.group-title
  padding 8px 16px 8px 56px
  color badge-50

.demo-box
  border 1px solid rgba(128, 128, 128, 0.1)
  border-radius 2px

.description
  font-weight 500
  font-size 30px

.api-container
  overflow-x auto

  table
    min-width 719px
    margin 2em 0
    font-size 14px
    font-family 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace
    line-height 1.5
    border-width 0

    tr:first-of-type
      border-bottom 2px solid #3da8f5

    th,td
      padding 14px 16px
      border-width 1px 0
      border-color hsv(0, 0, 91%)

    th
      border-width 0 0 2px 0
      text-align left

    td:first-child
      width 20%
      color #003a8c
      font-weight 500

    td:nth-child(3)
      width 22%
      color #c41d7f
      font-size 13px
      word-break break-all

    td:last-child
      width 13%
      font-size 13px