.menu-item
  menuItem()
  transition all .3s ease

.active-menu-item
  position relative
  background-color brand-1

  &:after
    position absolute
    width 2px
    height 40px
    
.group-title
  padding 8px 16px 8px 56px
  color font-5

.description
  font-weight 500
  font-size 30px


.code-box
  color font-5
  border 1px solid gray-2
  border-radius 4px
  overflow hidden
  transition all 300ms ease-out
  cursor pointer

  &:hover
    box-shadow 0 0 8px 0 rgba(200, 233, 255, .5), 0 0 2px 0 rgba(200, 233, 255, .65)
  
  &-demo 
    padding 42px 24px 50px
    color font-5
    border-bottom 1px solid #ebedf0
  
  &-meta 
    position relative
    width 100%
    font-size 14px
    border-radius 0 0 2 2
    transition background-color 0.4s

    p
      width 100%
      margin 0.5em 0
      padding-right 25px
      font-size 12px
      word-break break-word

  &-title
    position absolute
    top -10px
    margin-left 16px
    padding 1px 8px
    background #fff
    border-radius 2px 2px 0 0
    transition background-color 0.4s
    font-weight 500
    font-size 14px

  &-description
    padding 18px 24px 12px
  
  &-actions 
    padding 12px 0
    border-top 1px dashed gray-3
    text-align center
    vertical-align center
    opacity .7
    transition opacity .3s

    &:hover
      opacity 0.9
    
    & > *
      user-select none

  .hljs-wrapper
    display none
    overflow auto
    border-radius 0 0 2px 2px
    border-top 1px dashed gray-3

    &-expand 
      display block

    pre
      margin 0
      padding 0
      background #fff

  .hljs
    position relative
    margin 0
    padding 18px 24px
    background foreground
    border none

    
