.page-wrapper
  width 100%
  padding 0
  overflow hidden

.main-wrapper
  position relative
  padding 40px 0 0
  background #fff
  display flex

.main-menu
  width 25%
  border-right 1px solid #e8e8e8
  color rgba(0, 0, 0, 0.65)
  
.main-content
  width 75%
