.api-container 
  font-size 14px
  line-height 2

.api-container h2 
  font-size 24px
  line-height 32px

.api-container h2,
.api-container h3,
.api-container h4,
.api-container h5,
.api-container h6 
  clear both
  margin 1.6em 0 0.6em
  font-weight 500
  font-family Avenir, fontFamily, sans-serif


.api-container h3 
  font-size 18px

.api-container h4 
  font-size 16px

.api-container p,
  margin 1em 0

.api-container strong,
.api-container b 
  font-weight 500


.api-container > table 
  width 100%
  margin 8px 0 16px
  empty-cells show
  border-collapse collapse
  border-spacing 0


.api-container > table th 
  color font-5
  font-weight 500
  white-space nowrap
  background gray-1


.api-container > table th,
.api-container > table td 
  padding 16px 24px
  text-align left

.api-container > h2
  .header-anchor
    opacity 0
    color blue-10
    transition 300ms all ease-out
  
    &:hover
      opacity 1

.api-container 
  overflow-x auto
  table 
    min-width 719px
    margin 2em 0
    font-family fontFamily
    font-size 14px
    line-height 1.5
    color font-5

    tr:first-of-type
      border-bottom 1px solid gray-2

    th,td 
      padding 14px 16px
      border-width 1px 0
    
    th 
      border-width 0 0 2px 0
      text-align left
    
    td:first-child
      width 20%
      color blue-10
      font-weight 500

    td:nth-child(3)
      width 22%
      color plum-10
      font-size 13px
      word-break break-all

    td:last-child
      width 13%
      font-size 13px
  