@import './variable.styl'
menuItem()
  display block
  overflow hidden
  text-overflow ellipsis
  list-style none
  font-size 14px

  a
    display block
    height 40px
    line-height 40px
    color badge-75

    &:hover
      color badge-100