foreground = #fff


font-5 = #48466d
font-4 = mix(font-5, foreground, 75%)
font-3 = mix(font-5, foreground, 50%)
font-2 = mix(font-5, foreground, 25%)
font-1 = mix(font-5, foreground, 0%)

brand-10 = #3d84a8
brand-9 = mix(brand-10, foreground, 90%)
brand-8 = mix(brand-10, foreground, 80%)
brand-7 = mix(brand-10, foreground, 70%)
brand-6 = mix(brand-10, foreground, 60%)
brand-5 = mix(brand-10, foreground, 50%)
brand-4 = mix(brand-10, foreground, 40%)
brand-3 = mix(brand-10, foreground, 30%)
brand-2 = mix(brand-10, foreground, 20%)
brand-1 = mix(brand-10, foreground, 10%)

cyan-0 = #46cdcf
cyan-1 = mix(cyan-0, foreground, 10%)
cyan-2 = mix(cyan-0, foreground, 20%)
cyan-3 = mix(cyan-0, foreground, 30%)
cyan-4 = mix(cyan-0, foreground, 40%)
cyan-5 = mix(cyan-0, foreground, 50%)
cyan-6 = mix(cyan-0, foreground, 60%)
cyan-7 = mix(cyan-0, foreground, 70%)
cyan-8 = mix(cyan-0, foreground, 80%)
cyan-9 = mix(cyan-0, foreground, 90%)
cyan-10 = mix(cyan-0, foreground, 100%)

aqua-10 = #abedd8
aqua-9 = mix(aqua-10, foreground, 90%)
aqua-8 = mix(aqua-10, foreground, 80%)
aqua-7 = mix(aqua-10, foreground, 70%)
aqua-6 = mix(aqua-10, foreground, 60%)
aqua-5 = mix(aqua-10, foreground, 50%)
aqua-4 = mix(aqua-10, foreground, 40%)
aqua-3 = mix(aqua-10, foreground, 30%)
aqua-2 = mix(aqua-10, foreground, 20%)
aqua-1 = mix(aqua-10, foreground, 10%)

blue-10 = #3da8f5
blue-9 = mix(blue-10, foreground, 90%)
blue-8 = mix(blue-10, foreground, 80%)
blue-7 = mix(blue-10, foreground, 70%)
blue-6 = mix(blue-10, foreground, 60%)
blue-5 = mix(blue-10, foreground, 50%)
blue-4 = mix(blue-10, foreground, 40%)
blue-3 = mix(blue-10, foreground, 30%)
blue-2 = mix(blue-10, foreground, 20%)
blue-1 = mix(blue-10, foreground, 10%)

purple-10 = #402785
purple-9 = mix(purple-10, foreground, 90%)
purple-8 = mix(purple-10, foreground, 80%)
purple-7 = mix(purple-10, foreground, 70%)
purple-6 = mix(purple-10, foreground, 60%)
purple-5 = mix(purple-10, foreground, 50%)
purple-4 = mix(purple-10, foreground, 40%)
purple-3 = mix(purple-10, foreground, 30%)
purple-2 = mix(purple-10, foreground, 20%)
purple-1 = mix(purple-10, foreground, 10%)

gray-10 = #979ba0
gray-9 = mix(gray-10, foreground, 90%)
gray-8 = mix(gray-10, foreground, 80%)
gray-7 = mix(gray-10, foreground, 70%)
gray-6 = mix(gray-10, foreground, 60%)
gray-5 = mix(gray-10, foreground, 50%)
gray-4 = mix(gray-10, foreground, 40%)
gray-3 = mix(gray-10, foreground, 30%)
gray-2 = mix(gray-10, foreground, 20%)
gray-1 = mix(gray-10, foreground, 10%)

plum-10 = #d12b8c
plum-9 = mix(plum-10, foreground, 90%)
plum-8 = mix(plum-10, foreground, 80%)
plum-7 = mix(plum-10, foreground, 70%)
plum-6 = mix(plum-10, foreground, 60%)
plum-5 = mix(plum-10, foreground, 50%)
plum-4 = mix(plum-10, foreground, 40%)
plum-3 = mix(plum-10, foreground, 30%)
plum-2 = mix(plum-10, foreground, 20%)
plum-1 = mix(plum-10, foreground, 10%)


fontFamily = -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol'