$white = #ffffff
$black = #000000

// branch color
$brand10 = #5959a6
$brand9 = mix($brand10, $white, 10%)
$brand8 = mix($brand10, $white, 20%)
$brand7 = mix($brand10, $white, 30%)
$brand6 = mix($brand10, $white, 40%)
$brand5 = mix($brand10, $white, 50%)
$brand4 = mix($brand10, $white, 60%)
$brand3 = mix($brand10, $white, 30%)
$brand2 = mix($brand10, $white, 20%)
$brand1 = mix($brand10, $white, 10%)

$text-major = #333333
$text-normal = #666666
$text-minor = #999999
$text-placeholder = #cccccc

$border-major = #a3a3c3
$border-normal = #b4b4d4
$border-minor = #c5c5e5
$border-light = #d6d6f6
