@import '../../style/themes/default'
@import '../../style/mixins/reset'
@import './mixin'

$btn-prefix-cls = "%s-btn" %$aok-prefix

.{$btn-prefix-cls}
  position: relative
  font-size: $font-size-default
  reset-theme()
  btn()

  &__primary
    btn-primary()

  &__default
    btn-default()

  &__danger
    btn-danger()
