import React, { useState } from 'react'

const Demo = ({ path, sample, meta, rendered }) => {
  const [expand, setExpand] = useState(false)
  const Sample = sample

  return (
    <section key={ path } className='code-box'>
      <section className='code-box-demo'>
        <Sample/>
      </section>
      <section className='code-box-meta'>
        <div className='code-box-title'>{ meta.title }</div>
        <div className='code-box-description' dangerouslySetInnerHTML={{ __html: meta.description }}/>
        <div className='code-box-actions'>
          <span onClick={ () => setExpand(!expand) }>{`<>`}</span>
        </div>
      </section>
      <section className={`hljs-wrapper ${expand ? `hljs-wrapper-expand`: ``}`}>
        <div dangerouslySetInnerHTML={{ __html: rendered }}/>
      </section>
    </section>
  )
}

export class Docs extends React.PureComponent {

  render () {
    return (
      <React.Fragment>
        <h1 className='description'>
          <%= description %>
        </h1>
        <section className='api-container'>
          <%= api %>
        </section>
        { this.renderDemos() }
      </React.Fragment>
    )
  }

  renderDemos () {
    const demos =  require.context('./demos', true, /\.md$/)
      .keys()
      .map((path) => {
        const entirePath = `./demos/${path.substring(2)}`
        const { source: Sample, meta, rendered } = require(`${entirePath}`)
        const Description = meta.description

        return (
          <Demo
            key={ entirePath }
            path={ entirePath }
            sample={ Sample }
            meta={ meta }
            rendered={ rendered }
          />
        )
      })
    return demos
  }
}
