import React from 'react'

export class Docs extends React.PureComponent {

  renderDemos () {
    const demos =  require.context('./demos', true, /\.md$/)
      .keys()
      .map((path) => {
        const entirePath = `./demos/${path.substring(2)}`
        const Sample = require(`${entirePath}`).source

        return (
          <section key={ path } className='demo-box'>
            <Sample/>
            <div dangerouslySetInnerHTML={{ __html: require(`${entirePath}`).rendered }}/>
          </section>
        )
      })
    return demos
  }

  render () {
    return (
      <React.Fragment>
        <h1 className='description'>
          <%= description %>
        </h1>
        <section className='api-container'>
          <%= api %>
        </section>
        { this.renderDemos() }
      </React.Fragment>
    )
  }
}
