// color vars
$purple-1 = palette($purple-6, 5)
$purple-2 = palette($purple-6, 5)
$purple-3 = palette($purple-6, 5)
$purple-4 = palette($purple-6, 5)
$purple-5 = palette($purple-6, 5)
$purple-6 = #9C6ADE
$purple-7 = palette($purple-6, 5)
$purple-8 = palette($purple-6, 5)
$purple-9 = palette($purple-6, 5)
$purple-10 = palette($purple-6, 5)

$blue-6 = #007ACE

$cyan-6 = #47C1BF

$green-6 = #50B83C

$yellow-6 = #EEC200

$black-6 = #2F3033