// color vars
$purple = #9C6ADE

$blue = #007ACE

$cyan = #47C1BF

$green = #50B83C
$bright-green = rgba(80, 184, 60, 0.1)

$yellow = #EEC200
$bright-yellow = rgba(238, 194, 0, 0.1)

$red = #E65639
$bright-red = rgba(230, 86, 57, 0.1)

$black = #2F3033
$black-2 = #5E5F66 
$black-3 = #8D8F99 
$black-4 = #BCBFCC

$black-5 = #DCDEE6  
$black-6 = #EBEDF5 
$black-7 = #F0F2F5  
$black-8 = #f5f7fa 
